*{
	box-sizing: border-box;
}
body{
	font-size:16px;
	font-family: 'segoe ui';
	background-color: #ffe;
	
}
nav.navbar.navbar-default{
	top:0;
	border:0;
	width: 100%;
	margin-bottom: 0px;
	
}
div.container-fluid{
	padding:0;
	
}
.navbar{
	border-radius: 0;
	background-color: #f8bd47;
	
}
div #logo-img {
	background: url('../images/mylogo.png') no-repeat;
	width: 100px;
	height:80px;
	margin: 15px 0 5px 45px;
	border-radius: 10px;
	
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border:1px solid #777;
}
.navbar-header button.navbar-toggle{
	clear:both;
	margin-top: -40px;
}
#nav-list a {
	color:#11011c;
	text-align: center;
	line-height: 1.5;
	margin: 15px 0 10px 10px;
	font-weight: bold;
}
#nav-list a:hover {
	background: #FFF8DC;
}
.page-header .menu-header{
	font-size: 30px;
	padding-top: -10px;
	font-family: lora;
}
div.page-header{
	border: 0;
    padding-bottom: 9px;
    margin: 20px 0 0px;
  
}
/**FOOTER STARTS HERE**/
section#name.col-sm-6{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.1em;
}
section#connect.col-sm-6{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.1em;
}
div.container.col-sm-12{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 1em;
}
footer.panel-footer{
	height: 90px;
	background-color: #f8bd47;
	margin-bottom: 0px;
	border:0;
}

/**END OF FOOTER**/
/* MAIN CONTENT */
div.row.my-name{
	background-color: #200d02;
	margin-bottom: 0px;
	height: 400px;
	position: relative;
	border:0;
}

p.my-cv-name{
	padding-top: 45px;
	font-size: 4em;
	text-align: center;
	color: #fff;
	font-weight: bold;
}
p.position{
	color:#fff;
	text-align: center;
	font-size: 2.5em;
	padding-top: 15px;
}
p.description{
	padding-top:15px;
	color:#fff;
	text-align: center;
	font-style: italic;
	font-size: 1.5em;
}

img.img-responsive.img-circle{
	margin-top:20px;
	box-shadow: 0 2px 3px 3px #ffbf59;
	
}



/*********Medium Devices only***********/
@media (min-width:992px) and (max-width:1199px){

}
/*********Small Devices only***********/
@media (min-width:768px) and (max-width:991px){
	p.my-cv-name{
		padding-top: 45px;
		font-size: 8vh;
		text-align: center;
		color: #fff;
		font-weight: bold;
	}
	p.position{
		color:#fff;
		text-align: center;
		font-size: 4vh;
		padding-top: 15px;
	}
	p.description{
		padding-top:15px;
		color:#fff;
		text-align: center;
		font-style: italic;
		font-size: 3vh;
	}
	
}
/*********Extra Small Devices only***********/
@media (max-width:767px){
	p.my-xs-cv-name{
		text-align: center;
		font-size: 8vw;
		line-height: 1.2em;
		font-weight: bold;
		
	}
	p.xs-position{
		text-align: center;
		font-weight: bold;
		
		font-size: 5vw;
	}
	p.xs-description{
		font-style: italic;
		font-size: 3vw;
		text-align: center;
	}
	div #logo-img {
		background: url('../images/mylogo1.png') no-repeat;
		margin: 35px 0 0 40px;
		border-radius: 7px;
		height: 60px;
	}
	
	.navbar-header button.navbar-toggle {
		margin-top: -55px;
		border-radius: 5px;
		margin-right: 35px;
	}
	#nav-list a {
		color:#11011c;
		text-align: center;
		line-height: 0.5;
		margin:20px 0 25px 0;
		padding:10px;
	}
	#nav-list a:hover {
		background: #FFF8DC;
	}
	footer.panel-footer{
		height: 150px;
		background-color: #f0b747;
	}
	div.row.my-name{
		background-color: #913702;
		margin-bottom: 0px;
		height: 250px;
		position: relative;
	}
	
	#my-img{
		background: url('../images/myfavpic3.png') no-repeat;
		background-position: center;
		height:300px;
		width: 100%;
		margin-left:auto;
		margin-right: auto;
	}
	div#my-bio.col-xs-12.hidden-lg.hidden-md.hidden-sm{
		
		color: #000;
		font-size: 4vh;
		margin-left: auto;
		margin-right: auto;
		width:100%;
	}
	
}

/*Super extra small devices :-) (eg., iPhone4)*/
@media (max-width:479px) {
	#my-img{
		background: url('../images/myfavpic3.png') no-repeat;
		width: 100%;
		background-position: center;
	}
	
}