*{
	box-sizing: border-box;
}
body{
	font-size:16px;
	font-family: 'segoe ui';
	/* background-color: #ffe; */
}
nav.navbar.navbar-default{
	top:0;
	border:0;
	width: 100%;
	margin-bottom: 0px;
	
}
div.container-fluid{
	padding:0;
	
}
.navbar{
	border-radius: 0;
	background-color: #ffaf3f;
}
div #logo-img {
	background: url('../images/1.png') no-repeat;
	width: 50px;
	height:50px;
	margin: 15px 0 0 30px;
	
	
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border:1px solid #777;
}
.navbar-header button.navbar-toggle{
	clear:both;
	margin-top: -40px;
}
#nav-list a {
	color:#11011c;
	text-align: center;
	line-height: 1.5;
	margin: 15px 0 10px 10px;
	font-weight: bold;
}
#nav-list a:hover {
	background: #FFF8DC;
	opacity: .6;
}
.page-header .menu-header{
	font-size: 30px;
	padding-top: -10px;
	font-family: lora;
}
div.page-header{
	border: 0;
    padding-bottom: 9px;
    margin: 20px 0 0px;
  
}
/**FOOTER STARTS HERE**/
section#name.col-sm-6{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.1em;
}
section#connect.col-sm-6{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.1em;
}
div.container.col-sm-12{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 1em;
	color: #11011c;
	
}
a.back-home:hover{
	background-color: #FFF8DC;
	text-decoration: none;
	opacity: .8;
	border-radius: 4px;
}
footer.panel-footer{
	height: inherit;
	background-color: #f4e6d7f5;
	margin-bottom: 0px;
	border:0;
}
div#back-to-top{
	text-align: center;
}

/**END OF FOOTER**/
/* MAIN CONTENT */
div.row.my-name{
	background-color: #170707f2;
	margin-bottom: 0px;
	position: relative;
	border:0;
	height:inherit;
}

p.my-cv-name{
	padding-top: 25px;
	font-size: 4em;
	text-align: center;
	color: #fff;
	font-weight: bold;
}
p.position{
	color:#fff;
	text-align: center;
	font-size: 2.5em;
	padding-top: 15px;
}
p.description{
	padding-top:15px;
	color:#fff;
	text-align: center;
	font-style: italic;
	font-size: 2em;
}

img.img-responsive.img-circle{
	margin: 15px auto 15px auto;
	box-shadow: 0 2px 3px 2px #ffbf59;
	
}

/*********Medium Devices only***********/
@media (min-width:992px) and (max-width:1199px){

}
/*********Small Devices only***********/
@media (min-width:768px) and (max-width:991px){
	div.row.my-name{
		height:430px;
	}
	p.my-cv-name{
		padding-top: 45px;
		font-size: 8vh;
		text-align: center;
		color: #fff;
		font-weight: bold;
	}
	p.position{
		color:#fff;
		text-align: center;
		font-size: 5vh;
		padding-top: 15px;
	}
	p.description{
		padding-top:15px;
		color:#fff;
		text-align: center;
		font-style: italic;
		font-size: 4vh;
	}
	
}
/*********Extra Small Devices only***********/
@media (max-width:767px){
	p.my-xs-cv-name{
		text-align: center;
		font-size: 8vw;
		line-height: 1.2em;
		font-weight: bold;
		padding-top: 20px;
		
	}
	div.row.my-bio{
		background-color: #ffdc9f;
	}
	p.xs-position{
		text-align: center;
		font-weight: bold;
		
		font-size: 5vw;
	}
	div p.xs-description{
		padding-top: -25px;
		font-style: italic;
		font-size: 1.1em;
		text-align: center;
		line-height: 1.2em;
		background: #e0dede;
		box-shadow: 0 3px 4px 3px #ffbf59;
		border-radius: 0 20px 0 20px;
	}

	div #logo-img {
		background: url('../images/1.png') no-repeat;
		margin: 5px 0 5px 40px;
		border-radius: 7px;
		height: 40px;
		
	}
	
	.navbar-header button.navbar-toggle {
		top:25;
		border-radius: 5px;
		margin-right: 35px;
	}
	#nav-list a {
		color:#11011c;
		text-align: center;
		line-height: 0.5;
		margin:20px 0 25px 0;
		padding:10px;
	}
	#nav-list a:hover {
		background: #FFF8DC;
	}
	footer.panel-footer{
		height: inherit;
		/* background-color: #f0b747; */
	}
	div.row.my-name{
		background-color: #913702;
		margin-bottom: 0px;
		height: 250px;
		position: relative;
	}
	
	#my-img{
		background: url('../images/myfavpic3.png') no-repeat;
		background-position: center;
		height:300px;
		width: 100%;
		margin-top: 0px;
		margin-bottom: 0px;
		margin-left: auto;
		margin-right: auto;
		
	}
	div#my-bio.col-xs-12.hidden-lg.hidden-md.hidden-sm{
		
		color: #000;
		font-size: 4vh;
		margin-left: auto;
		margin-right: auto;
		width:100%;
	}
	hr#my-line1{
		width:80%;
		margin-left:auto;
		margin-right: auto;
		
	}

	hr#my-line2{
		width:80%;
		margin-left:auto;
		margin-right: auto;
		
	}

	hr#my-line3{
		width:80%;
		margin-left:auto;
		margin-right: auto;
		
	}

	span.my-copyright{
		font-style: oblique;
	}
}

/*Super extra small devices :-) (eg., iPhone4)*/
@media (max-width:479px) {
	#my-img{
		background: url('../images/myfavpic3.png') no-repeat;
		width: 100%;
		background-position: center;
	}
	
}